.container {
    width: 100%;
    background-color: #E0E2EB;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrowSteps .step {
    font-size: 18px;
    text-align: center;
    color: #878C9E;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 16px 0px 16px 0px;
    width: 15%;
    float: right;
    position: relative;
    background-color: #E0E2EB;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrowSteps .step a {
    color: #878C9E;
    text-decoration: none;
}

.arrowSteps .step:after,
.arrowSteps .step:before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-right: 17px solid #E0E2EB;
    z-index: 2;
}

.arrowSteps .step:before {
    left: auto;
    right: 0;
    border-right: 17px solid #E0E2EB;
    z-index: 0;
}

.arrowSteps .step:first-child:before {
    border: none;
}

.arrowSteps .step:last-child:after {
    // border: none;
}

.arrowSteps .step:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.arrowSteps .step:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrowSteps .step span {
    position: relative;
}

*.arrowSteps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -10px;
    font-size: 11px;
    line-height: 21px;
}

.arrowSteps .step.current {
    color: #878C9E;
    background-color: #CBCEDC;
}

.arrowSteps .step.current a {
    color: #878C9E;
    text-decoration: none;
}

.arrowSteps .step.current:after {
    border-right: 17px solid #CBCEDC;
}

.arrowSteps .step.done {
    color: #173352;
    background-color: #2f69aa;
}

.arrowSteps .step.done a {
    color: #173352;
    text-decoration: none;
}

.arrowSteps .step.done:after {
    border-right: 17px solid #2f69aa;
}