.container {
    padding: 40px 20px;
    direction: rtl;
    background-color: #EFF0F4;
    height: 100%;
}

.tabContainer {
    width: 100%;
    background: #F9F9FB !important;
}

.tab {
    background-color: #F9F9FB !important;
    border-left: 2px #EBECF2 solid !important;
    font-weight: bold !important;
}

.selectedTab {
    color: #6FC8EC !important;
    background-color: white !important;
}

.indicator {
    display: none;
}

.box {
    padding-bottom: 20px;
    background-color: white;
    border: 1px transparent;
}