.container {
  background-color: white;
  padding: 0 10px 10px 10px;
  display: flex;
  position: relative;
}

.innerContainer {
  display: flex !important;
  width: 100% !important;
  max-width: none !important;
}

.dropdownWrapper {
  width: 100%;
  background-color: #f6f7f9;
  padding: 0 10px 10px 10px;
  border-radius: 4px;
}

.icon {
  right: auto !important;
  left: 7px !important;
  color: #4dbbe8 !important;
}

.nativeInput {
  color: #a9b5bd !important;
  background-color: white !important;
  font-size: 14px !important;
  padding: 5px !important;
}

.outlined {
  border: none !important;
}

.count {
  border-radius: 50%;
  background-color: #ff9b4b;
  color: white;
  font-size: 15px;
  padding: 2px;
  min-width: 20px;
  text-align: center;
}

.dropdownSelect {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  align-items: center;
}

.sideContainer {
  width: 25%;
  padding: 0px 15px;
  border-left: 1px solid #ececec;
  height: 100%;
  overflow: hidden;
}

.mainContainer {
  width: 75%;
}

.profileContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.stepper {
  position: relative !important;
}

.avatar {
  margin-right: 20px;
}

.arrowButtons {
  padding: 15px !important;
  margin: 0px 10px !important;
  transition: none !important;
  color: #4dbbe8 !important;
  &:hover {
    border: 1px solid #f2f2f2 !important;
    background-color: transparent !important;
  }
}

.subtabContainer {
  padding: 2px;
  border: 1px solid #efefef;
}

.card {
  position: relative;
  filter: opacity(0.5);
  .personContainer {
    display: flex;
    align-items: center;
  }
  & p {
    font-size: 20px;
    color: #8b99a4;
  }
  .number {
    margin-right: 10px;
  }
  .personIcon {
    color: #4dbbe8 !important;
  }
  &:hover {
    filter: opacity(1);
    background-color: #f3f3f3;
  }
}

.tab {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.tab::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.secandaryContainer {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}

.desc {
  font-size: 22px;
  font-weight: bold;
  color: #5c5c5c;
}

.player {
  border-radius: 10px;
}

.link {
  color: #00b5df;
  text-decoration: underline;
  cursor: pointer;
}
