.container {
    direction: rtl;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.menuContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 120px;
    margin: 0 20px;
}

.button {
    color: #7D909E !important;
    font-size: 18px !important;
    margin-right: 15px !important;
}


.active {
    color: #4DBBE8 !important;
}

.icon {
    margin-left: 5px;
}

.arrowDown {
    margin-right: 20px;
}

.profileMenu {
    display: flex;
    align-items: center;

    .profileImg {
        width: 20px;
        background: #E4E8EF;
        padding: 10px;
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.badge {
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
    font-size: 8px !important;
    width: 17px !important;
    height: 17px !important;
    min-width: 15px !important;
    background-color: #4DBBE8;
    color: white;
}


.endIcon {
    margin-right: -25px !important;
}


.buttonRoot {
    background-color: none !important;
}